svg{
	overflow: visible;
}

body{
  font-family: monospace;
  margin: 0px;
  overflow: hidden;
}

.axis{
  opacity: .5;
}

.line{
  fill: none;
  stroke: black;
  stroke-width: 3;
}

.mean-line{
  fill: none;
  stroke: red;
  stroke-width: 3;
}

.area{
  fill: #fff7d3;
}

.your-line{
  stroke: #0bfc30;
  stroke-width: 3;
  stroke-dasharray: 5 5;
}
